/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*
*   Zoomable baseline grid
*   type size presets
*
*/
body {
  /* 20px / 28px */
  font-size: 0.875em;
  line-height: 1.66667em; }

.container {
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }

.col-1 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-2 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-3 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-4 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-5 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-6 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-7 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-8 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-9 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-10 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-11 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-12 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

@media (min-width: 700px) {
  body {
    /* 20px / 28px */
    font-size: 1em;
    line-height: 1.66667em; }
  .container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }
  figure.outset-left {
    width: 75%;
    margin-left: -16.66667%; } }

@media (min-width: 1100px) {
  .col-1 {
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-2 {
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-3 {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-4 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-5 {
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-6 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-7 {
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-8 {
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-9 {
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-10 {
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-11 {
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-12 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-offset-1 {
    margin-left: 8.33333%; }
  .col-offset-2 {
    margin-left: 16.66667%; }
  .col-offset-3 {
    margin-left: 25%; }
  .col-offset-4 {
    margin-left: 33.33333%; }
  .col-offset-5 {
    margin-left: 41.66667%; }
  .col-offset-6 {
    margin-left: 50%; }
  .col-offset-7 {
    margin-left: 58.33333%; }
  .col-offset-8 {
    margin-left: 66.66667%; }
  .col-offset-9 {
    margin-left: 75%; }
  .col-offset-10 {
    margin-left: 83.33333%; }
  .col-offset-11 {
    margin-left: 91.66667%; }
  .col-offset-third {
    margin-left: 50%; }
  body {
    /* 20px / 28px */
    font-size: 1.0625em;
    line-height: 1.66667em; }
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }
  figure.outset-left {
    width: 74.5%;
    margin-left: -12.75%; } }

@media (min-width: 1600px) {
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }

body {
  /* 20px / 28px */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

h1 {
  color: #3A424A;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  /* 135px / 120px */
  font-size: 4.44444em;
  line-height: 1.03125em;
  margin: 0 0 0.9375em; }

h2 {
  color: #3A424A;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  /* 84px / 72px */
  font-size: 3.11111em;
  line-height: 1.07143em;
  margin: 0 0 0.53571em; }

h3 {
  color: #3A424A;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  /* 52px / 48px */
  font-size: 2.22222em;
  line-height: 1.125em;
  margin: 0 0 0.75em; }

h4 {
  color: #3A424A;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  /* 28 / 36px */
  font-size: 1.55556em;
  line-height: 1.07143em;
  margin: 0 0 1.07143em; }

h5 {
  color: #3A424A;
  font-weight: 900;
  font-family: "Cutive Mono", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  /* 20px / 28px */
  font-size: 1em;
  line-height: 1.66667em;
  /* 28 */
  margin: 0 0 1.66667em; }

h6 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  /* 13px / 18px */
  font-size: 0.75em;
  line-height: 2.22222em;
  margin: 0 0 1.66667em; }

p {
  color: #657379;
  font-weight: 400;
  font-family: "Cutive Mono", sans-serif;
  margin: 0 0 1.66667em; }

.small {
  color: #9AA5AA;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* 13px / 18px */
  font-size: 0.75em;
  line-height: 2.22222em;
  margin: 0 0 1.66667em; }

.skinny {
  font-family: "Cutive Mono", sans-serif;
  font-weight: 300;
  text-transform: none; }

blockquote {
  /* 28 / 36px */
  font-size: 1.55556em;
  line-height: 1.07143em;
  text-align: center;
  color: #b6bec1;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1.07143em; }

svg.icon {
  height: 36px;
  width: 36px;
  display: inline-block;
  fill: currentColor;
  vertical-align: baseline; }
  button svg.icon {
    height: 18px;
    width: 18px;
    margin: 4px -4px 0 4px;
    -webkit-filter: drop-shadow(0 1px #eee);
            filter: drop-shadow(0 1px #eee);
    float: right; }

svg use {
  pointer-events: none; }

* {
  box-sizing: border-box; }

hr {
  position: relative;
  display: block;
  width: 40px;
  margin: 0 auto 3em;
  border: 0;
  clear: both; }
  hr:after, hr:before {
    content: '';
    height: 1px;
    display: block;
    background: #dfe3e4;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    width: 100%;
    clear: both; }
  hr:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.icon.seperator {
  display: block;
  width: 50px;
  margin: 0 auto;
  color: #9AA5AA; }

.btn {
  display: block;
  float: left;
  color: #9AA5AA;
  font-family: "Cutive Mono", sans-serif;
  font-weight: 300;
  /* 13px / 18px */
  font-size: 0.75em;
  line-height: 2.22222em;
  text-decoration: none;
  padding: 0.5em 1.5em;
  border: 1px solid #dfe3e4; }
  .btn:after {
    content: '';
    display: block;
    clear: both; }

label {
  display: block;
  font-size: 16px;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  color: #e2e2e2;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }

input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px; }

.form-control {
  padding: 30px 0 0 0;
  position: relative; }

.form-control:after, .form-control:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }

.form-control::after {
  background-color: #8E8DBE;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0); }

.is-active::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); }

.is-active label {
  color: #8E8DBE; }

.is-completed label {
  font-size: 12px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.remove-bottom {
  margin-bottom: 0 !important; }

.half-bottom {
  margin-bottom: 0.75em !important; }

body, html, #masterUI {
  overflow: hidden;
  height: 100%; }

#header {
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
  -webkit-transform: translatez(0);
      -ms-transform: translatez(0);
          transform: translatez(0);
  text-align: center;
  padding: 3em 0; }
  #header .social a {
    color: #d1d6d9;
    margin: 0 0.5em;
    text-decoration: none; }
    #header .social a:hover {
      color: #000000; }
    #header .social a .icon {
      width: 1.5em;
      height: 1.5em; }

#projects {
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
  -webkit-transform: translatez(0);
      -ms-transform: translatez(0);
          transform: translatez(0);
  padding-top: 3em; }

nav.primary-nav {
  position: absolute;
  top: 0;
  width: 100%; }
  nav.primary-nav a {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: block;
    float: left;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    margin-right: 2em;
    text-decoration: none;
    font-family: "Cutive Mono", sans-serif;
    color: #9AA5AA; }
    nav.primary-nav a.active {
      color: #72C336; }
  nav.primary-nav:after {
    content: '';
    display: block;
    clear: both; }

@media (min-width: 700px) {
  #header {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden; }
  #projects {
    position: relative;
    border-left: 1px solid #EFEFEF;
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    float: left; } }

footer {
  padding-top: 2em;
  /* 13px / 18px */
  font-size: 0.75em;
  line-height: 2.22222em; }

/*==================================
=            Animations            =
==================================*/
.view.ng-enter, .view.ng-leave {
  position: absolute;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1); }

.view.ng-enter {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.view.ng-enter-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.view.ng-leave {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.view.ng-leave-active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.project-view {
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
  position: absolute;
  top: 3em;
  background: white; }

.project-view.ng-enter {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.project-view.ng-enter.ng-enter-active,
.project-view.ng-leave {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1; }

.project-view.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.view {
  margin-top: 3em;
  width: 100%;
  padding: 0 1em; }

@-webkit-keyframes fade {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    opacity: 0;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); } }

@keyframes fade {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    opacity: 0;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); } }

.project {
  -webkit-transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1); }

.project-active .project {
  -webkit-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
          transform: translateX(-110%); }

.nav-tab.ng-enter, .nav-tab.ng-leave {
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1); }

.nav-tab.ng-enter {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.nav-tab.ng-enter-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.nav-tab.ng-leave {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.nav-tab.ng-leave-active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

/*-----  End of Animations  ------*/
#profile {
  background-image: url(../img/mech-bw.png);
  background-size: cover;
  background-position: center center;
  width: 10em;
  height: 10em;
  border-radius: 10em;
  margin: 0 auto 3em; }

.info {
  text-decoration: none;
  cursor: pointer; }
  .info h4 {
    -webkit-transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
            transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
    letter-spacing: normal; }
  .info .time {
    color: #9AA5AA; }
  .info:hover {
    -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
            transform: translateX(15px);
    background: white; }

.project {
  margin: 0 0 1.5em; }
  .project:after {
    content: '';
    display: block;
    clear: both; }

article header {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 3em 0; }
  article header:after {
    content: '';
    display: block;
    clear: both; }
  article header figure {
    margin-bottom: 3em; }
  article header h4 {
    font-family: "Cutive Mono", sans-serif;
    font-weight: 200; }
  article header h5 {
    text-align: left; }
  article header figure {
    padding: 0 3em; }

article main {
  position: relative;
  z-index: 1;
  padding: 2em 0; }

article footer {
  padding: 2em 0 3em;
  text-align: center; }
  article footer p {
    color: #c4cacd; }

.screenshot {
  width: 100%;
  position: relative;
  background: #edeff0;
  text-align: center;
  padding: 30px 0 0;
  border: 1px solid #edeff0;
  border-radius: 7px; }
  .screenshot span {
    position: absolute;
    display: block;
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ffca41;
    margin-left: 30px; }
    .screenshot span:nth-child(1) {
      background: #ea2b0e;
      margin-left: 10px; }
    .screenshot span:nth-child(3) {
      background: #8bdb30;
      margin-left: 50px; }
  .screenshot img {
    border-radius: 0 0 4px 4px;
    max-height: 600px;
    max-width: 100%;
    margin-bottom: -7px; }
