/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*
*   Zoomable baseline grid
*   type size presets
*
*/
body {
  /* 20px / 28px */
  font-size: 0.875em;
  line-height: 1.75em; }

.container {
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.row:after {
  content: '';
  display: block;
  clear: both; }

.row.with-bottom {
  margin-bottom: 1.75em; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }

.col-1 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-2 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-3 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-4 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-5 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-6 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-7 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-8 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-9 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-10 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-11 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

.col-12 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 7.14286%;
  padding-right: 7.14286%; }

@media (min-width: 700px) {
  body {
    /* 20px / 28px */
    font-size: 0.8125em;
    line-height: 1.75em; }
  .container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }
  figure.outset-left {
    width: 75%;
    margin-left: -16.66667%; } }

@media (min-width: 1250px) {
  .col-1 {
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-2 {
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-3 {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-4 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-5 {
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-6 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-7 {
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-8 {
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-9 {
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-10 {
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-11 {
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-12 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.78571%;
    padding-right: 1.78571%; }
  .col-offset-1 {
    margin-left: 8.33333%; }
  .col-offset-2 {
    margin-left: 16.66667%; }
  .col-offset-3 {
    margin-left: 25%; }
  .col-offset-4 {
    margin-left: 33.33333%; }
  .col-offset-5 {
    margin-left: 41.66667%; }
  .col-offset-6 {
    margin-left: 50%; }
  .col-offset-7 {
    margin-left: 58.33333%; }
  .col-offset-8 {
    margin-left: 66.66667%; }
  .col-offset-9 {
    margin-left: 75%; }
  .col-offset-10 {
    margin-left: 83.33333%; }
  .col-offset-11 {
    margin-left: 91.66667%; }
  .col-offset-third {
    margin-left: 50%; }
  body {
    /* 20px / 28px */
    font-size: 0.8125em;
    line-height: 1.75em; }
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }
  figure.outset-left {
    width: 74.5%;
    margin-left: -12.75%; } }

@media (min-width: 1450px) {
  body {
    /* 20px / 28px */
    font-size: 0.875em;
    line-height: 1.75em; } }

@media (min-width: 1700px) {
  body {
    font-size: 1em;
    line-height: 1.75em; }
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }

body {
  /* render pretty */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "source-code-pro", sans-serif; }

h1 {
  color: #3A424A;
  font-weight: 900;
  font-family: "futura-pt", sans-serif;
  /* 135px / 120px */
  font-size: 5.875em;
  line-height: 0.89362em;
  margin: 0 0 0.74468em; }

h2 {
  color: #3A424A;
  font-weight: 900;
  font-family: "futura-pt", sans-serif;
  /* 84px / 72px */
  font-size: 4em;
  line-height: 1.09375em;
  margin: 0 0 0.4375em; }

h3 {
  color: #3A424A;
  font-weight: 700;
  font-family: "futura-pt", sans-serif;
  /* 52px / 48px */
  font-size: 2.5em;
  line-height: 1.225em;
  margin: 0 0 0.7em; }

h4 {
  color: #3A424A;
  font-weight: 400;
  font-family: "source-code-pro", sans-serif;
  /* 24 / 36px */
  font-size: 1.5em;
  line-height: 1.45833em;
  margin: 0 0 1.16667em; }

h5 {
  color: #9AA5AA;
  font-weight: 700;
  font-family: "source-code-pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  /* 20px / 28px */
  font-size: 1em;
  line-height: 1.75em;
  /* 28 */
  margin: 0 0 0.875em; }

h6 {
  font-weight: 400;
  font-family: "source-code-pro", sans-serif;
  /* 13px / 18px */
  font-size: 0.85em;
  line-height: 1.75em;
  margin: 0 0 1.75em; }

p {
  color: #657379;
  font-weight: 400;
  font-family: "source-code-pro", sans-serif;
  margin: 0 0 1.75em; }

strong {
  background: #edeff0;
  color: #3A424A;
  padding: 0 0.25em; }

.small {
  color: #9AA5AA;
  font-weight: 400;
  font-family: "source-code-pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* 13px / 18px */
  font-size: 0.85em;
  line-height: 1.75em;
  margin: 0 0 1.75em; }

.smaller {
  /* 13px / 18px */
  font-size: 0.85em;
  line-height: 1.75em;
  margin: 0 0 1.75em; }

.skinny {
  font-family: "source-code-pro", sans-serif;
  font-weight: 300;
  text-transform: none; }

blockquote {
  /* 24 / 36px */
  font-size: 1.5em;
  line-height: 1.45833em;
  text-align: left;
  color: #3A424A;
  font-family: "source-code-pro", sans-serif;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  border-left: 1px dotted #3A424A; }

svg.icon {
  height: 36px;
  width: 36px;
  display: inline-block;
  fill: currentColor;
  vertical-align: baseline; }

svg use {
  pointer-events: none; }

/*==============================
=            Resets            =
==============================*/
* {
  box-sizing: border-box; }

/*-----  End of Resets  ------*/
/*=====================================
=            Base Elements            =
=====================================*/
a {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "source-code-pro", sans-serif;
  color: #9AA5AA;
  font-weight: 500;
  text-decoration: none; }
  a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-style: dotted;
    border-color: #9AA5AA;
    border-width: 0 0 1px 0;
    height: 0px; }
  a:hover {
    color: #3A424A; }
    a:hover:after {
      border-style: solid;
      border-color: #3A424A; }
  a.active {
    color: #3797c3; }
    a.active:after {
      border-style: solid;
      border-color: #3797c3; }

img, video {
  width: 100%;
  margin: 0 0 1.5em; }

hr {
  position: relative;
  display: block;
  width: 100%;
  height: 0px;
  border: 1px dotted #9AA5AA;
  border-width: 0 0 1px 0;
  margin: 2em 0 3em;
  clear: both; }

/*-----  End of Base Elements  ------*/
/*======================================
=            Helper Classes            =
======================================*/
.pull-right {
  float: right !important; }

.remove-bottom {
  margin-bottom: 0 !important; }

.half-bottom {
  margin-bottom: 0.75em !important; }

/*-----  End of Helper Classes  ------*/
body, html {
  height: 100%; }

/*==================================
=            Navigation            =
==================================*/
nav.primary-nav {
  text-align: left; }
  nav.primary-nav li {
    margin: 0 0 0.75em; }
  nav.primary-nav:after {
    content: '';
    display: block;
    clear: both; }

/*-----  End of Navigation  ------*/
/*===================================
=            Main Panels            =
===================================*/
#header {
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  padding: 5em 1em 1em; }

.project-active #header {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0; }

#projects {
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
  -webkit-transform: translatez(0);
      -ms-transform: translatez(0);
          transform: translatez(0);
  padding: 1em; }

/*-----  End of Main Panels  ------*/
/*===============================
=            Project            =
===============================*/
.project {
  border-bottom: 1px dotted #9AA5AA; }
  .project:after {
    content: '';
    display: block;
    clear: both; }
  .project a {
    display: block;
    text-decoration: none;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: 4.5em;
    -webkit-transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
            transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1); }
    .project a:after {
      display: none; }
    .project a span {
      bottom: 1.25em;
      right: 0;
      position: absolute;
      margin-bottom: 0;
      color: #9AA5AA; }
    .project a:hover {
      padding-left: 1em; }
  .project:first-child a {
    padding-top: 0;
    height: 3em; }

.project-close {
  position: absolute;
  z-index: 3;
  -webkit-transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
  .project-close a {
    box-sizing: content-box;
    display: block;
    padding: 0.75em;
    height: 20px; }
    .project-close a:after {
      display: none; }
  .project-close .icon {
    width: 20px;
    height: 20px;
    fill: #3A424A; }

.project-active .project-close,
.project-active .project-nav {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }

.project-close {
  top: -6em;
  left: 0.5em; }

.project-active .project-close {
  top: 0.5em; }

.project-nav {
  top: -6em;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
  .project-nav a .icon {
    width: 20px;
    height: 20px;
    fill: #3A424A; }

.project-active .project-nav {
  top: 0.5em; }

#project-details {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding: 4em 2em 4em 4em;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background: white; }
  #project-details .pics {
    padding-bottom: 5em; }
    #project-details .pics img {
      display: block; }

.project-active #project-details {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }

/*-----  End of Project  ------*/
/*=====================================
=            Media Queries            =
=====================================*/
@media (min-width: 700px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll; }
  #header {
    position: fixed;
    z-index: 1;
    background: white;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden; }
    #header .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4em; }
      #header .title h1 {
        margin-bottom: 0; }
  #projects {
    width: 50%;
    float: right; }
  nav.primary-nav {
    text-align: left; }
  #header {
    padding: 4em 2em 4em 4em; }
  #projects {
    padding: 4em 4em 4em 2em; } }

/*-----  End of Media Queries  ------*/
/*==================================
=            Animations            =
==================================*/
.view {
  width: 100%; }

.view.ng-enter, .view.ng-leave {
  position: absolute;
  padding-right: 6em;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.6s cubic-bezier(0.3, 0.53, 0, 1); }

.view.ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.view.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.back.view.ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.back.view.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.view.ng-leave,
.view.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.swapping .back.view.ng-leave-active,
.swapping .view.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.project-object {
  -webkit-transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.25s cubic-bezier(0.3, 0.53, 0, 1); }

.project-active .project-object {
  opacity: 0.5; }
  .project-active .project-object.active {
    opacity: 1; }

/*-----  End of Animations  ------*/
/*======================================
=            Event Timeline            =
======================================*/
.timeline-event {
  margin-bottom: 3em; }
  .timeline-event ul {
    list-style: circle;
    padding-left: 1em;
    color: #657379; }
  .timeline-event:after {
    content: '';
    display: block;
    clear: both; }

/*-----  End of Event Timeline  ------*/
/*==============================
=            Graphs            =
==============================*/
.bar {
  position: relative;
  margin-bottom: 1em;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.3, 0.53, 0, 1);
          transition: all 0.5s cubic-bezier(0.3, 0.53, 0, 1);
  color: #3A424A; }
  .bar .name, .bar .number {
    /* 20px / 28px */
    font-size: 1em;
    line-height: 1.75em;
    /* 28 */ }
  .bar .number {
    float: right; }
  .bar .skill {
    position: relative; }
    .bar .skill:after {
      position: relative;
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border-top: 1px solid #3A424A; }
    .bar .skill:before {
      position: absolute;
      content: '';
      top: 0;
      display: block;
      width: 100%;
      height: 0;
      border-top: 1px dotted #9AA5AA; }
  .bar.passionate {
    font-weight: 700; }

.bar.ng-enter {
  width: 0%; }

.bar.ng-enter.ng-enter-active, .bar.ng-leave {
  width: 100%; }

.bar.ng-leave-active {
  width: 0%;
  -webkit-transition: none;
          transition: none; }

.bar.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s; }

/*-----  End of Graphs  ------*/
.screenshot {
  width: 100%;
  position: relative;
  background: #edeff0;
  text-align: center;
  padding: 30px 0 0;
  border: 1px solid #edeff0;
  border-radius: 7px; }
  .screenshot span {
    position: absolute;
    display: block;
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ffca41;
    margin-left: 30px; }
    .screenshot span:nth-child(1) {
      background: #ea2b0e;
      margin-left: 10px; }
    .screenshot span:nth-child(3) {
      background: #8bdb30;
      margin-left: 50px; }
  .screenshot img {
    border-radius: 0 0 4px 4px;
    max-height: 600px;
    max-width: 100%;
    margin-bottom: -7px; }
