body, html {
	height: 100%;
}

$body-padding: 4em;

/*==================================
=            Navigation            =
==================================*/

nav.primary-nav {
	text-align: left;
	li {
		margin: 0 0 0.75em;
	}
	@include clearfix;
}

/*-----  End of Navigation  ------*/



/*===================================
=            Main Panels            =
===================================*/

#header {
	position: relative;
	@include slow;
	transform: translateX(0);
	padding: 5em 1em 1em;
}
.project-active #header { transform: translateX(-100%); opacity: 0; }

#projects {
	@include slow;
	transform: translatez(0);
	padding: 1em;
}

/*-----  End of Main Panels  ------*/




/*===============================
=            Project            =
===============================*/

// list item on projects page
.project {
	border-bottom: 1px dotted $body;
	@include clearfix;
	a {
		display: block;
		text-decoration: none;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		height: 4.5em;
		@include quick;
		&:after { display: none; }
		span {
			bottom: 1.25em;
			right: 0;
			position: absolute;
			margin-bottom: 0;
			color: $body;
		}
		&:hover {
			padding-left: 1em;
		}
	} 
	&:first-child {
		a {
			padding-top: 0;
			height: 3em;
		}
	}
}


// project navigation
$project-button-size: 20px;

.project-close {
	position: absolute;
	z-index: 3;
	@include quick;
	transition-delay: 0s;
	a {
		box-sizing: content-box;
		display: block;
		padding: 0.75em;
		height: $project-button-size;
		&:after {
			display: none;
		}
	}
	.icon {
		width: $project-button-size; height: $project-button-size;
		fill: $header;
	}
}
.project-active .project-close,
.project-active .project-nav {
	transition-delay: 0.3s;
}
.project-close {
	top: -6em;
	left: 0.5em;
}
.project-active .project-close { top: 0.5em; }

.project-nav {
	top: -6em; left: 0; right: 0; margin: 0 auto;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
	@include quick;
	transition-delay: 0s;
	a .icon {
		width: $project-button-size; height: $project-button-size;
		fill: $header;
	}
}
.project-active .project-nav { top: 0.5em; }


// project details panel
#project-details {
	position: absolute;
	z-index: 2;
	top: 0; left: 0;
	width: 50%; height: 100%;
	padding: $body-padding $body-padding/2 $body-padding $body-padding;
	@include slow;
	opacity: 0;
	transform: translateX(-100%);
	background: white;
	.pics {
		padding-bottom: 5em;
		img	{ display: block; }
	}
}
.project-active #project-details { opacity: 1; transform: translateX(0%); }

/*-----  End of Project  ------*/

/*=====================================
=            Media Queries            =
=====================================*/

@include susy-breakpoint(700px, $tablet) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#header {
		position: fixed;
		z-index: 1;
		background: white;
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
		.title {
			position: absolute;
			bottom: 0; left: 0;
			padding: $body-padding;
			h1 {
				margin-bottom: 0;
			}
		}
	}
	#projects {
		width: 50%;
		float: right;
	}
	nav.primary-nav {
		text-align: left;
	}
	#header { padding: $body-padding $body-padding/2 $body-padding $body-padding; }
	#projects { padding: $body-padding $body-padding $body-padding $body-padding/2; }
}

/*-----  End of Media Queries  ------*/



/*==================================
=            Animations            =
==================================*/

.view { 
	width: 100%;
}

.view.ng-enter, .view.ng-leave {
	position: absolute;
	padding-right: $body-padding*1.5;
	@include slow;
}

.view.ng-enter {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
.view.ng-leave.ng-leave-active {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.back.view.ng-enter {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.back.view.ng-leave.ng-leave-active {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
.view.ng-leave,
.view.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.swapping .back.view.ng-leave-active,
.swapping .view.ng-leave-active { transform: translate3d(100%, 0, 0); }


.project-object {
	@include quick;
}
.project-active .project-object {
	opacity: 0.5;
	&.active {
		opacity: 1;
	}
}

/*-----  End of Animations  ------*/