body, html {
	height: 100%;
}

/*==================================
=            Navigation            =
==================================*/

nav.primary-nav {
	text-align: left;
	li {
		margin: 0 0 0.75em;
	}
	a {
		position: relative;
		@include clickable;
		font-family: $sans-serif;
		color: $body;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		&:after {
			content: '';
			position: absolute;
			bottom: 0; left: 0;
			width: 100%;
			border-style: dotted;
			border-color: $body;
			border-width: 0 0 1px 0;
			height: 0px;
		}
		&:hover {
			color: $header;
			&:after {
				border-style: solid;
				border-color: $header;
			}
		}
		&.active {
			color: $primary;
			&:after {
				border-style: solid;
				border-color: $primary;
			}
		}
	}
	@include clearfix;
	//border-bottom: 1px solid lighten($body, 20);
}

/*-----  End of Navigation  ------*/



/*===========================================
=            Left Panel / Header            =
===========================================*/

#header {
	position: relative;
	@include slow;
	transform: translateX(0);
	padding: 5em 1em 1em;
	.title {
		position: relative;
	}
}
.project-active #header { transform: translateX(-100%); opacity: 0; }

/*-----  End of Left Panel / Header  ------*/


/*===================================
=            Right Panel            =
===================================*/

#projects {
	@include slow;
	transform: translatez(0);
	padding: 1em;
}

/*-----  End of Right Panel  ------*/

/*===============================
=            Project            =
===============================*/

.project-nav {
	position: fixed;
	height: 5em;
	line-height: 5em;
	left: 0; bottom: 0;
	padding-left: 3em;
	width: 50%;
	background: white;
	overflow: hidden;
	z-index: 2;
	@include quick;
	opacity: 0;
	transform: translateY(6em);
	text-align: center;
	.project-nav-item {
		margin: 0 1em;
		float: left;
	}
}
.project-active .project-nav {
	opacity: 1;
	transform: translateX(0%);
}

.project a {
	display: block;
	text-decoration: none;
	cursor: pointer;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	height: 4.5em;
	@include quick;
	&:after { display: none; }
	span {
		bottom: 1.25em;
		right: 0;
		position: absolute;
		margin-bottom: 0;
		color: $body;
	}
	&:hover {
		padding-left: 1em;
	}
}
.project {
	border-bottom: 1px dotted $body;
	@include clearfix;
	&:first-child {
		a { padding-top: 0; height: 3em; }
	}
}

#project-details {
	position: absolute;
	z-index: 2;
	top: 0; left: 0;
	width: 50%; height: 100%;
	padding: 3em 1.5em 3em 3em;
	@include slow;
	opacity: 0;
	transform: translateX(-100%);
	background: white;
	.pics {
		padding-bottom: 5em;
	}
}
.project-active #project-details { opacity: 1; transform: translateX(0%); }

/*-----  End of Project  ------*/

@include susy-breakpoint(700px, $tablet) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#header {
		position: fixed;
		z-index: 1;
		background: white;
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
		.title {
			position: absolute;
			bottom: 0; left: 0;
			padding: 3em;
			h1 {
				margin-bottom: 0;
			}
		}
	}
	#projects {
		width: 50%;
		float: right;
	}
	nav.primary-nav {
		text-align: left;
	}
	#header { padding: 3em 1.5em 3em 3em; }
	#projects { padding: 3em 3em 3em 1.5em; }
}

/*==================================
=            Animations            =
==================================*/

.view { 
	width: 100%;
}

.view.ng-enter, .view.ng-leave {
	position: absolute;
	padding-right: 4.5em;
	@include slow;
}

.view.ng-enter {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
.view.ng-leave.ng-leave-active {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.back.view.ng-enter {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.back.view.ng-leave.ng-leave-active {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
.view.ng-leave,
.view.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.swapping .back.view.ng-leave-active,
.swapping .view.ng-leave-active { transform: translate3d(100%, 0, 0); }


.project-object {
	@include quick;
}
.project-active .project-object {
	opacity: 0.5;
	&.active {
		opacity: 1;
	}
}



/*-----  End of Animations  ------*/