body, html, #masterUI {
	overflow: hidden;
	height: 100%;
	// background: url(http://subtlepatterns.com/patterns/lightpaperfibers.png);
}

#header {
	position: relative;
	@include slow;
	transform: translatez(0);
	text-align: center;
	padding: 3em 0;
	.social {
		a {
			color: lighten($body, 20);
			margin: 0 0.5em;
			text-decoration: none;
			&:hover { color: $color2; }
			.icon {
				width: 2.5em; height: 2.5em;
			}
		}
	}
}

#projects {
	@include slow;
	transform: translatez(0);
	nav {
		a {
			@include clickable;
			display: block;
			float: left;
			height: 3em;
			line-height: 3em;
			padding: 0 1em;
			margin-right: 2em;
			text-decoration: none;
			font-family: $sans-serif;
			color: $body;
			&.active {
				color: $primary;
			}
		}
		@include clearfix;
		//border-bottom: 1px solid lighten($body, 20);
	}
}


@include susy-breakpoint(700px, $tablet) {
	#header {
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
	}
	#projects {
		position: relative;
		border-left: 1px solid #EFEFEF;
		width: 50%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		float: left;
	}
}

footer {
	padding-top: 2em;
	@include small;
}

/*==================================
=            Animations            =
==================================*/

.view.ng-enter, .view.ng-leave {
	position: absolute;
  @include slow;
}

.view.ng-enter {
  transform: translateX(100%);
}

.view.ng-enter-active {
  transform: translateX(0);
}

.view.ng-leave {
  transform: translateX(0); 
}

.view.ng-leave-active {
  transform: translateX(-100%);
}


.project-view {
    @include slow;
}

.project-view.ng-enter {
	opacity: 0;
	height: 100%;
	overflow: hidden;
	transition-delay: 0.15s;
}

.project-view.ng-enter.ng-enter-active,
.project-view.ng-leave {
	opacity: 1;
}

.project-view.ng-leave.ng-leave-active {
	opacity: 0;
}

.view { 
	margin-top: 3em;
	width: 100%;
	padding: 0 1em;
}


.project {
	overflow: hidden;
}
.project-active .project {
	height: 0;
	margin: 0;
}


/*-----  End of Animations  ------*/

