article {
	header {
		position: relative;
		z-index: 1;
		text-align: center;
		padding: 3em 0;
		@include clearfix;
		figure {
			margin-bottom: 3em;
		}
		h4 {
			font-family: $sans-serif;
			font-weight: 200;
		}
		h5 { text-align: left; }
		figure {
			padding: 0 3em;
		}
	}
	main {
		position: relative;
		z-index: 1;
		padding: 2em 0;
	}
	footer {
		padding: 2em 0 3em;
		text-align: center;
		p {
			color: lighten($body, 15);
		}
	}
}


$screenshot-button-size: 10px;
$screenshot-border-color: lighten($body, 30);
$screenshot-color1: #ea2b0e;
$screenshot-color2: #ffca41;
$screenshot-color3: #8bdb30;

.screenshot {
	width: 100%;
	position: relative;
	background: $screenshot-border-color;
	text-align: center;
	padding: $screenshot-button-size*3 0 0;
	border: 1px solid $screenshot-border-color;
	border-radius: 7px;
	span {
		position: absolute;
		display: block;
		left: 0;
		top: $screenshot-button-size;
		width: $screenshot-button-size;
		height: $screenshot-button-size;
		border-radius: 100%;
		background: $screenshot-color2; margin-left: $screenshot-button-size*3;
		&:nth-child(1) { background: $screenshot-color1; margin-left: $screenshot-button-size; }
		&:nth-child(3) { background: $screenshot-color3; margin-left: $screenshot-button-size*5; }
	}
	img { border-radius: 0 0 4px 4px; max-height: 600px; max-width: 100%; margin-bottom: -7px; }
}



