/*======================================
=            Event Timeline            =
======================================*/

.timeline-event {
	ul {
		list-style: circle;
		padding-left: 1em;
		color: darken($body, 20);
	}
	@include clearfix;
	margin-bottom: 3em;
}

/*-----  End of Event Timeline  ------*/




/*==============================
=            Graphs            =
==============================*/
.bar {
	position: relative;
	margin-bottom: 1em;
	width: 100%;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(.3,.53,0,1);
	color: $header;
	.name, .number {
		@include normal;
	}
	.number {
		float: right;
	}
	.skill {
		position: relative;
		&:after {
			position: relative;
			content: '';
			display: block;
			width: 100%;
			height: 0;
			border-top: 1px solid $header;
		}
		&:before {
			position: absolute;
			content: '';
			top: 0;
			display: block;
			width: 100%;
			height: 0;
			border-top: 1px dotted $body;
		}
	}
	&.passionate {
		font-weight: 700;
	}
}
.bar.ng-enter { width: 0%; }
.bar.ng-enter.ng-enter-active, .bar.ng-leave { width: 100%; }
.bar.ng-leave-active { width: 0%; transition: none; }
.bar.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.05s;
  transition-duration: 0s;
}

/*-----  End of Graphs  ------*/




$screenshot-button-size: 10px;
$screenshot-border-color: lighten($body, 30);
$screenshot-color1: #ea2b0e;
$screenshot-color2: #ffca41;
$screenshot-color3: #8bdb30;

.screenshot {
	width: 100%;
	position: relative;
	background: $screenshot-border-color;
	text-align: center;
	padding: $screenshot-button-size*3 0 0;
	border: 1px solid $screenshot-border-color;
	border-radius: 7px;
	span {
		position: absolute;
		display: block;
		left: 0;
		top: $screenshot-button-size;
		width: $screenshot-button-size;
		height: $screenshot-button-size;
		border-radius: 100%;
		background: $screenshot-color2; margin-left: $screenshot-button-size*3;
		&:nth-child(1) { background: $screenshot-color1; margin-left: $screenshot-button-size; }
		&:nth-child(3) { background: $screenshot-color3; margin-left: $screenshot-button-size*5; }
	}
	img { border-radius: 0 0 4px 4px; max-height: 600px; max-width: 100%; margin-bottom: -7px; }
}



