$sans-serif: 'futura-pt', sans-serif;
$mono-space: 'source-code-pro', sans-serif;

body {
    /* render pretty */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: $mono-space;
}

@mixin small {
    /* 13px / 18px */
    font-size: #{($font-size*0.85) / $em}em;
    line-height: ($line-int*0.85) / ($font-size*0.85) * 1em;
}
@mixin normal {
    /* 20px / 28px */
    font-size: #{$font-size / $em}em;
    line-height: #{$line-int / $em}em; /* 28 */
}

@mixin large {
    /* 24 / 36px */
    font-size: #{24 / $em}em;
    line-height: ($line-int*1.25) / 24 * 1em;
}

@mixin huge {
    /* 52px / 48px */
    font-size: #{40 / $em}em;
    line-height: ($line-int*1.75) / 40 * 1em;
}

@mixin massive {
    /* 84px / 72px */
    font-size: #{64 / $em}em;
    line-height: ($line-int*2.5) / 64 * 1em;
}

@mixin gigantic {
    /* 135px / 120px */
    font-size: #{94 / $em}em;
    line-height: ($line-int*3) / 94 * 1em;
}

h1 {
    color: $header;
    font-weight: 900;
    font-family: $sans-serif;
    @include gigantic;
    margin: 0 0 ($line-int*2.5) / 94 * 1em;
}
h2 {
    color: $header;
    font-weight: 900;
    font-family: $sans-serif;
    @include massive;
    margin: 0 0 ($line-int*1) / 64 * 1em;
}
h3 {
    color: $header;
    font-weight: 700;
    font-family: $sans-serif;
    @include huge;
    margin: 0 0 ($line-int*1) / 40 * 1em;
}
h4 {
    color: $header;
    font-weight: 400;
    font-family: $mono-space;
    @include large;
    margin: 0 0 ($line-int*1) / 24 * 1em;
}
h5 {
    color: $body;
    font-weight: 400;
    font-family: $mono-space;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include normal;
    margin: 0 0 #{$line-int/2 / $em}em;
}
h6 {
    font-weight: 400;
    font-family: $mono-space;
    @include small;
    margin: 0 0 #{$line-int / $em}em;
}

p {
    color: darken($body, 20);
    font-weight: 400;
    font-family: $mono-space;
    margin: 0 0 #{$line-int / $em}em;
}

b {
    color: $header;
    font-weight: 700;
}
strong {
    //background: $primary;
    color: $header;
    font-weight: 700;
}

.small {
    color: $body;
    font-weight: 400;
    font-family: $mono-space;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include small;
    margin: 0 0 #{$line-int / $em}em;
}

.smaller {
    @include small;
    margin: 0 0 #{$line-int / $em}em;
}

.skinny {
    font-family: $mono-space;
    font-weight: 300;
    text-transform: none;
}

.subtle {
    color: lighten($body, 25);
}

blockquote {
    @include large;
    text-align: left;
    color: $header;
    font-family: $mono-space;
    font-weight: 500;
    margin-top: ($line-int*2) / 28 * 1em;
    margin-bottom: ($line-int*2) / 28 * 1em;
    padding-left: 1em;
    border-left: 1px dotted $header;
}

svg {
    &.icon {
        height: 36px;
        width: 36px;
        display: inline-block;
        fill: currentColor;
        vertical-align: baseline;
    }
    use {
        pointer-events: none;
    }
}




