$serif: 'futura-pt', serif;
$sans-serif: 'source-code-pro', sans-serif;
$mono: 'source-code-pro', sans-serif;
$small: 'source-code-pro', sans-serif;

body {
    /* 20px / 28px */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: $sans-serif;
}

@mixin small {
    /* 13px / 18px */
    font-size: #{($font-size*0.85) / $em}em;
    line-height: ($line-int*0.85) / ($font-size*0.85) * 1em;
}
@mixin normal {
    /* 20px / 28px */
    font-size: #{$font-size / $em}em;
    line-height: #{$line-int / $em}em; /* 28 */
}

@mixin large {
    /* 24 / 36px */
    font-size: #{24 / $em}em;
    line-height: ($line-int*1) / 24 * 1em;
}

@mixin huge {
    /* 52px / 48px */
    font-size: #{40 / $em}em;
    line-height: ($line-int*1.75) / 40 * 1em;
}

@mixin massive {
    /* 84px / 72px */
    font-size: #{64 / $em}em;
    line-height: ($line-int*2.5) / 64 * 1em;
}

@mixin gigantic {
    /* 135px / 120px */
    font-size: #{94 / $em}em;
    line-height: ($line-int*3) / 94 * 1em;
}

h1 {
    color: $header;
    font-weight: 900;
    font-family: $serif;
    @include gigantic;
    margin: 0 0 ($line-int*2.5) / 94 * 1em;
}
h2 {
    color: $header;
    font-weight: 900;
    font-family: $serif;
    @include massive;
    margin: 0 0 ($line-int*1) / 64 * 1em;
}
h3 {
    color: $header;
    font-weight: 700;
    font-family: $serif;
    @include huge;
    margin: 0 0 ($line-int*1) / 40 * 1em;
}
h4 {
    color: $header;
    font-weight: 400;
    font-family: $sans-serif;
    @include large;
    margin: 0 0 ($line-int*1) / 28 * 1em;
}
h5 {
    color: $header;
    font-weight: 700;
    font-family: $sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include normal;
    margin: 0 0 #{$line-int / $em}em;
}
h6 {
    font-weight: 400;
    font-family: $small;
    @include small;
    margin: 0 0 #{$line-int / $em}em;
}

p {
    color: darken($body, 20);
    font-weight: 400;
    font-family: $sans-serif;
    margin: 0 0 #{$line-int / $em}em;
}

.small {
    color: $body;
    font-weight: 400;
    font-family: $small;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include small;
    margin: 0 0 #{$line-int / $em}em;
}

.smaller {
    @include small;
    margin: 0 0 #{$line-int / $em}em;
}

.skinny {
    font-family: $sans-serif;
    font-weight: 300;
    text-transform: none;
}

.mono { font-family: $sans-serif; font-weight: 400; }

blockquote {
    @include large;
    text-align: left;
    color: $header;
    font-family: $serif;
    font-weight: 700;
    margin-bottom: ($line-int*1) / 28 * 1em;
}

// ==== ICONS ==== //
 
// SVG icon sets; style icons individually, by set, or as a group
svg {
  &.icon {
    height: 36px;
    width: 36px;
    display: inline-block;
    fill: currentColor; // Inherit color
    vertical-align: baseline; // Options: baseline, sub, super, text-top, text-bottom, middle, top, bottom
 
    // Different styling for when an icon appears in a button element
    button & {
      height: 18px;
      width: 18px;
      margin: 4px -4px 0 4px;
      filter: drop-shadow( 0 1px #eee );
      float: right;
    }
  }
 
  // Fix jQuery bug: http://bugs.jquery.com/ticket/11352
  use {
    pointer-events: none;
  }
}
svg.alabama-icon {
    fill: $body;
    height: 250px;
    width: 100%;
}




