<section class="container">

	<header class="col-12">
		<h3>Over the past few years, I've learned a lot about the design and development industry, and I have a better sense of where I belong.</h3>
		<br>
	</header>

	<div class="timeline-event" ng-repeat="event in timeline">

		<div class="col-5">
			<h4>
				{{ event.position }} at {{ event.name }} from {{ event.startDate }} to {{ event.endDate }}
			</h4>
		</div>

		<div class="col-7">
			
			<p>{{ event.summary }}</p>
			<ul class="list">
				<li ng-repeat="highlight in event.highlights">{{ highlight }}</li>
			</ul>
		</div>
		
	</div>

</section>