<section class="container">

	<div class="col-12">
		<h3>Over the past few years, I have slowly but surely been finding my way to frontend development.</h3>
		<br>
	</div>

	<div class="timeline-event" ng-repeat="event in timeline">

		<div class="col-12">
			<h5>
				{{ event.name }} - {{ event.position }}
			</h5>
			<p>{{ event.startDate }} to {{ event.endDate }}<br>{{ event.summary }}</p>
			<ul>
			    <li ng-repeat="highlight in event.highlights">{{ highlight }}</li>
			</ul>
		</div>
		
	</div>

</section>