<section class="container">

	<div class="col-12">
		<h3>
			The chart below represents my comfort level in the following technologies.<br>
		</h3>
		<h5>* low experience, but actively learning</h5>
		<br>
		<div class="bar" ng-repeat="tool in tools | filter:search | orderBy:'level':true" ng-class="{ 'passionate' : tool.passion }">
			<span class="name"><span ng-if="tool.passion">* </span>{{ tool.name }}</span>
			<span class="number">{{ tool.level }}</span>
			<div class="skill" ng-style="{ 'padding-right' : (100 - tool.level) + '%'}"></div>
		</div>
	</div>

</section>